<div class="quiz">
	<h1>Question {{questionNumber}}</h1>
	<p>{{question.title}}</p>
	<div class="well">
	<ul ng-repeat="option in question.options">
		<li>
			<label for="inputPassword3" class="control-label">{{option}}</label>
		</li>
		<li>
			<input type="checkbox" name="option" value="{{$index}}" >
		</li>
	</ul>
	</div>
	<div class="controls">
	<button  class="btn btn-default" ng-disabled="isDisabled" ng-click="onBack()">Back</button >
	<a href="#" class="next btn btn-primary" ng-click="onSubmit()">Next</a>
	</div>
	</div>